h1{
    text-align: center;
    color:deeppink;
}
h4{
    font-family:cursive;
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    color: brown;
}
.logoline{
    width: auto;
    height: auto;
    background-color: beige;
}
table{
    border-spacing: 20px;
    border-collapse: separate;
}
.bt{
    width:100px;
    border-style: solid;
    background-color:white;
    padding: inherit;
    text-align: center;
    border-radius: 35px;
}
.midline{
    background-color: floralwhite;
}
.mid{
    background-image: url('bg.jpg');
}